<html>
<head>
	<link rel="stylesheet" href="style.css"></link>
	<script src="./pouchdb-5.1.0.min.js"></script>
	<script src="./angular-1.4.3.min.js"></script>
	<script src="./jquery-2.1.4.min.js"></script>
</head>
<body ng-app="pouchDbReplicationTestApp">
	<div id="content" ng-controller="DbController">
		<h1>Standard Sync</h1>
		<table id="db-info">
			<tr><td>Remote DB</td><td>{{remote_db}}</td></tr>
			<tr><td>Local DB</td><td>{{local_db}}</td></tr>
			<tr><td>Doc count</td><td>{{docs.length}}</td></tr>
			<tr><td>Sequence</td><td>{{local_seq}}</td></tr>
		</table>
		<form>
			<fieldset>
				<legend>Add Record</legend>
				<label>
					ID:
					<input type="text" name="_id" ng-model="doc._id"/>
				</label>
				<input type="submit" value="save" ng-click="createNewDoc()"/>
			</fieldset>
		</form>
		<table id="records">
			<thead>
				<tr><td>ID</td></tr>
			</thead>
			<tbody>
				<tr ng-repeat="d in docs">
					<td>{{d._id}}</td>
				</tr>
			</tbody>
		</table>
		<ol>
			<li ng-repeat="e in errors">{{e}}</li>
		</ol>
	</div>
<script>
var app = angular.module('pouchDbReplicationTestApp', []);

app.controller('DbController', [
    '$scope',
    function($scope) {
  $scope.errors = [];
  $scope.docs = [];

  $scope.remote_db = 'http://ad:pass@localhost:5984/medic';
  $scope.local_db = 'standard-sync';
  $scope.local_seq = -1;

  $scope.createNewDoc = function() {
    alert('should create new doc');
    $scope.doc = {};
  };

  function logError(err) {
    $scope.errors.push(err);
  }

  // set up DB and start replication
  (function() {
    var db = new PouchDB($scope.local_db);

    db.destroy().then(function() {
      PouchDB.sync($scope.local_db, $scope.remote_db)
        .on('change', function(info) {
          console.log('Should do something with the change notification.', info);
          if(info.direction === 'pull') {
            info = info.change;
            $scope.docs = $scope.docs.concat(info.docs);
            $scope.errors = $scope.errors.concat(info.errors);
            $scope.local_seq = Math.max($scope.local_seq, info.last_seq);
            $scope.$apply();
          }
        })
        .on('error', logError);
    });
  }());
}]);	
</script>
</body>
</html>

